/* Home.css */
.home {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100vh;
}
  
.col-lg-7 {
    text-align: center; /* Center the content horizontally */
}
  
button {
    font-size: 1.5em; /* Increase font size */
    padding: 10px 20px; /* Add padding */
    text-align: center;
    background-color: #e7e7e7;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

.title{
    text-align: center;
    font-size: 2.5em;
}